html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
  background-color: black;
}

.snake {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 825px;
  width: 825px;
  background-color: rgb(10, 10, 49);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
}

.cell {
  height: 20px;
  width: 20px;
  background-color: rgb(72, 72, 134);
}

.leftPanel {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 20px;

  width: calc((95vw - 825px) / 2);
  height: 95vh;
}

.rightPanel {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: calc((95vw - 825px) / 2);
  height: 95vh;
}

.keyImg {
  width: 100px;
  height: 100px;
  filter: invert(1);
  opacity: 50%;
}

.arrowImg {
  width: 100px;
  height: 100px;
  filter: invert(1);
  opacity: 50%;
}

.arrowContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topArrowRow {
  display: flex;
  justify-content: center;
}

.botArrowRow {
  display: flex;
  gap: 10px;
}
